<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find five_dof_arm)/config/five_dof_arm_joint_states.yaml" command="load"/>


  <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/five_dof_arm" args="joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/five_dof_arm/joint_states" to="/joint_states"/>
  </node>

</launch>


